* {
	margin: 0;
	padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
}

.links img,
.dash-icon {
    filter: invert(100%) sepia(11%) saturate(7457%) hue-rotate(280deg) brightness(115%) contrast(109%);
}

.links img {
    height: 30px;
}

.dash-icon {
    height: 50px;
}

.links ul {
    list-style-type: none;
}

.links li {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    padding: 5px 5px 50px 5px;
    align-items: center;
    gap: 10px;
}

.logo h1,
.links p {
    color: white;
    font-weight: bold;
}

.dashboard {
    background-color: #0284c7;
    padding: 40px;
    grid-area: 1 / 1 / -1 / 2;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

.header > div {
    /* border: 1px solid; */
    /* display: grid; same as flex */
    display: flex; /* same as grid */
}

#search-bar {
    /* grid-template-columns: auto 1fr; same as flex - but it changes after deleting an element */
    grid-area: 1 / 1 / 2 / 6;
    align-items: center; /* same as grid and flex*/
}

#search-bar > input {
    flex: 1; /* same as grid */
    border-radius: 50px;
}

#notification {
    justify-content: center;
    align-items: center;
    grid-column: -4 / -1;
    gap: 50px;
}

#notification .cowboy,
.trending img {
    height: 40px;
}

.header > #welcome > img {
    height: 60px;
}

#welcome {
    grid-column: 1 / 6;
    align-items: center;
    gap: 30px;
}

#new, #upload, #share {
    justify-content: center;
    align-items: center;
}

.header button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.projects {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / -1 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 30px repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: minmax(150px, 250px);
    gap: 20px;
    padding: 20px;
}

h3 {
    grid-area: 1 / 1 / 2 / -1;
}

.cards {
    border: 1px solid;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
    display: grid;
    background-color: white;
}

.announcements,
.trending {
    background-color: #e2e8f0;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.announcement-container,
.trending-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements p {
    font-size: 15px;
}

.symbols {
    display: flex;
    gap: 20px;
    place-self: end;
}

.projects img,
.header img {
    height: 25px;
}

.trending-container > div {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

.trending-container img {
    grid-row: 1 / 3;
    filter: invert(31%) sepia(87%) saturate(1512%) hue-rotate(177deg) brightness(96%) contrast(98%);
}

