* {
	margin: 0;
	padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
}

.links img,
.dash-icon {
    filter: invert(100%) sepia(11%) saturate(7457%) hue-rotate(280deg) brightness(115%) contrast(109%);
}

.links img {
    height: 30px;
}

.dash-icon {
    height: 50px;
}

.links ul {
    list-style-type: none;
}

.links li {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    padding: 5px 5px 50px 5px;
    align-items: center;
    gap: 10px;
}

.logo h1,
.links p {
    color: white;
    font-weight: bold;
}

.links img:hover {
    cursor: pointer;
}

.links img:hover ~ p,
.links p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.links img:active ~ p {
    transform: scale(0.95);
}

.dashboard {
    background-color: #0284c7;
    padding: 40px;
    grid-area: 1 / 1 / -1 / 2;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    box-shadow: 0px 5px 5px -2px  #c9ced4;
    z-index: 1;
}

.header > div {
    /* border: 1px solid; */
    /* display: grid; same as flex */
    display: flex; /* same as grid */
}

#search-bar {
    /* grid-template-columns: auto 1fr; same as flex - but it changes after deleting an element */
    grid-area: 1 / 1 / 2 / 6;
    align-items: center; /* same as grid and flex*/
}

#search-bar > label:hover {
    transition: 1s;
    transform: rotate(100deg);
}

#search-bar > input {
    flex: 1; /* same as grid */
    border-radius: 50px;
    height: 30px;
    border:none;
    background-color: #e2e8f0;
    padding: 0 20px;
    margin: 20px;
}

#search-bar > input:focus {
    outline: none;
}

#notification {
    justify-content: center;
    align-items: center;
    grid-column: -4 / -1;
    gap: 50px;
}

#notification .cowboy,
.trending img {
    height: 40px;
}

.header > #welcome > img {
    height: 60px;
}

#welcome {
    grid-column: 1 / 6;
    align-items: center;
    gap: 30px;
}

#new, #upload, #share {
    justify-content: center;
    align-items: center;
}

.header button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #0284c7;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
}

.header button:hover,
.symbols > img:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

.header button:active,
.symbols > img:active {
    transition: 0.2s;
    transform: scale(0.95);
}

.bell:hover {
    transition: 0.5s;
    animation: tilt-shaking 0.15s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.projects {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / -1 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 30px repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 20px;
    padding: 30px;
}

h3 {
    grid-area: 1 / 1 / 2 / -1;
}

.cards {
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
    display: grid;
    background-color: white;
    position: relative;
}

.cards:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.cards::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 96%;
    bottom: -5px;
    left: -5px;
    z-index: 1;
    margin: 5px;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(#0284c7, #dbbb07);
}

.symbols {
    display: flex;
    gap: 20px;
    place-self: end;
}

.projects img,
.header img {
    height: 25px;
}

.announcements,
.trending {
    background-color: #e2e8f0;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    gap: 20px;
}

.announcements {
    padding-top: 30px;
    justify-content: flex-start;
}

.trending {
    padding-bottom: 30px;
    justify-content: flex-end;
}

.announcement-container,
.trending-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements p {
    font-size: 15px;
}

.announcements h3 {
    height: 30px;
}

.announcement-container > div {
    border-bottom: 1px solid #e2e8f0;
}

.trending-container > div {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

.trending-container img {
    grid-row: 1 / 3;
    filter: invert(73%) sepia(84%) saturate(988%) hue-rotate(4deg) brightness(93%) contrast(94%);
}

